/* *{
    border: 1px solid red;
} */

body{
    font-family: 'Young Serif';
    margin: 0;
    padding: 0;
    background-color: hsl(30, 54%, 90%);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 55%;
    margin: 30px auto;
    border-radius: 14px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 30px 0;
    color: hsl(24, 5%, 18%);
}

.recipe-img img{
    width: 100%;
    border-radius: 14px;
}

.recipe-desc{
    margin: 10px 0;
}

.recipe-desc h1{
    font-size: 43px;
    font-weight: 300;
}

.recipe-desc p, .nutrition p{
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
    color: hsl(30, 10%, 34%);
}

.prep{
    background-color: hsl(330, 100%, 98%);
    padding: 10px 20px;
    /* margin-top: 40px; */
    border-radius: 10px;
    font-family: 'Outfit', sans-serif;
}

.prep h3{
    color: hsl(332, 51%, 32%);
}

.prep ul, .ingredients ul, .instructions ol{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: hsl(30, 10%, 34%);
    font-family: 'Outfit', sans-serif;
}

.prep ul > li::marker{
    color: hsl(332, 51%, 32%);
}

.ingredients{
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.ingredients h2, .instructions h2, .nutrition h2{
    color: hsl(14, 45%, 36%);
    font-weight: 300;
    font-size: 30px;
}

.ingredients ul > li::marker{
    color: hsl(14, 45%, 36%);
}

.instructions{
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.instructions ol > li::marker{
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

.nutrition{
    margin-top: 10px;
    padding-bottom: 10px;
}

.nutrition table{
    border-collapse: collapse;
    width: 100%;
    font-family: 'Outfit', sans-serif;
}

.nutrition table td, th {
    padding: 15px 30px;
    text-align: left;
}

.nutrition tr{
    border-bottom: 1px solid #ddd;
}

.nutrition tr:last-child{
    border-bottom: none;
}

.nutrition table td{
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

.nutrition table th{
    font-weight: 400;
}

@media screen and (max-width: 375px){
    .container{
        margin: 0;
        width: 100%;
    }

    .content{
        width: 100%;
        margin: 0;
    }

    .recipe-img img{
        border-radius: 0;
    }

    .recipe-desc h1{
        font-size: 40px;
        font-weight: 300;
    }

    .recipe-desc, .prep, .ingredients, .instructions, .nutrition{
        margin: 0 20px;
    }

}