*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: hsl(30, 54%, 90%);
    font-family: 'Outfit', sans-serif;
}

main{
    width: 100%;
    max-width: 35rem;
    margin-block: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: hsl(24, 5%, 18%);
    border-radius: 14px;
}

h1, h2{
    margin-bottom: 0.8rem;
    font-weight: 500;
    font-family: 'Young Serif'
}

h2{
    color: brown;
}

ul, ol{
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.9rem;
}

section{
    margin: 1.8rem;
}

section.img, section.desc, section.prep, section.border{
    margin-bottom: 0;
}

section.border{
    padding-bottom: 2rem;
    border-bottom: 1px solid #ddd;
}

section.border li::marker, ol::marker{
    color: brown;
    font-weight: bold;
}

section.img img{
    width: 100%;
    border-radius: 10px;
}

section.desc h1{
    font-size: 2rem;
}

section.desc p{
    font-size: 0.8rem;
}

section.prep{
    background-color: hsl(330, 100%, 98%);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 10px;
}

section.prep li::marker{
    color: hsl(332, 51%, 32%);
}

section.prep p{
    font-weight: bold;
    color: hsl(332, 51%, 32%);
    font-size: 1.1rem;
}

section.nutrition p{
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

section.nutrition table{
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
}

section.nutrition tr{
    border-bottom: 1px solid #ddd;
}

section.nutrition tr:last-child{
    border-bottom: none;
}

section.nutrition td, th{
    padding: 0.8rem 1.8rem;
}

section.nutrition th{
    font-weight: 400;
    text-align: left;
}

section.nutrition td{
    font-weight: 900;
    color: brown;
}

@media screen and (max-width: 30rem) {
    main{
        max-width: 100%;
        margin-block: 0;
    }

    .content{
        width: 100%;
        margin-block: 0;
        border-radius: 0;
    }

    section.img{
        margin: 0;
    }
    section.img img{
        border-radius: 0;
    }
}